<div class="formWrap">
    <div>
        <h1>New Message</h1>
    </div>
    <div>
        <form method="post" action="/new">
            <span>
                <h2>Name</h2>   
                <input name="user" type="text" placeholder="John">
            </span>
            <span>
                <h2>Message</h2>
                <input name="message" type="text"  placeholder="Hello everyone!">
            </span>
            <button>Add</button>
        </form>
    </div>
</div>