<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('nav', {links:links})%>
    <div class="messagesWrap">
        <div class="title">
            <h1>Messages</h1>
        </div>
        <div class="cardWrap">
            <div class="contentWrap">
                <%messages%>
            </div>
        </div>
    </div>
    <div class="footerWrap">
        <%-include('footer', {footerLink:footerLink})%>
    </div>
</body>
</html>