@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 24px;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: visible;
    width: 100dvw;
    height: 100dvh;
    color: #edf2f4;
    background-color: #288bcecb;
}

.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav h1 {
    font-size: 42px;
}

.links ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    color: #edf2f4;
    text-decoration: none;
}

li {
    list-style: none;
}

.messagesWrap {
    padding: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    flex: wrap;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-shadow: -8px 8px 5px black;
}

.title h1 {
    font-size: 64px;
}

.contentWrap {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgb(180, 142, 37);
    width: calc(100%  - 2rem);
    max-width: 600px;
    border-radius: 10px;
    padding: .3rem;
    display: inline-block;
    box-shadow: 0 0 20px 8px black;
    height: 550px;
    overflow-y: scroll;
    padding-bottom: 1rem;
    align-content: center;
}

.contentWrap::-webkit-scrollbar {
    display: none;
}

.username p {
    font-size: 32px;
}

.card {
    justify-self: center;
    width: 95%;
    border-bottom: 2px solid #fefefe;
}

.date p {
    font-size: 20px;
}

.message p {
    font-size: 28px;
}

.inlineGap {
    display: flex;
    gap: 10px;
}

.formWrap {
    background-color: #001d3d;
}

.footerWrap {
    width: 100dvw;
    padding: .4rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer img {
    width: 48px;
    object-fit: fill;
    filter: invert();
}

@media (max-width: 330px) {
    .nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav h1 {
        font-size: 38px;
    }
    .links ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}